body {
  background-color: rgb(244, 248, 249);
  font-family: helvetica, sans-serif;
}
.tweet-box {
  position: absolute;
     margin: auto;
     top: 0; right: 0; bottom: 0; left: 0;
  background-color: rgb(255, 255, 255);
  width: 750px;
  height: 200px;
  border: 2px solid rgb(225, 232, 237);
  border-radius: 8px;
  padding: 40px;
}

.prof-pic {
  float:left;
  padding-right: 14px;
}

.account-info {
  float: left;
  margin-top: -20px;
  font-size: 18px;
}

.user-account {
  position: absolute;
  margin-top: 40px;
  margin-left: 85px;
  color: rgb(104, 109, 129);
  font-size: 23px;
}

.button-follow {
  position: relative;
  float: right;
  width: 155px;
  background-color: #FFFFFF;
  color: rgb(85, 172, 238);
  border: 2px solid rgb(85, 172, 238);
  border-radius: 8px;
  padding: 10px 20px 10px 20px;
  font-size: 26px;
}

.twitter-logo {
  position:relative;
  float:left;
  width: 24px;
  height: 24px;
  margin-top: 5px;
  padding-right: 5px;
}

.tweet {
  position: relative;
  margin-top: 100px;
}

.tweet p{
  color: rgb(0, 0, 0);
  font-size: 28px;
}

.date-time {
  color: rgb(101, 116, 127);
  font-size: 24px;
  margin-top: -15px;
}

.tweet-stats {
  color: rgb(105, 120, 130);
  font-size: 24px;
  margin-top: 10px;
}

.tweet-stats td {
  padding-right: 30px;
}

.tweet-stats img {
  height: 18px;
}
